%h2 SMART objectives
%table
  %thead
    %tr
      %th Number
      %th
        'What'
      %th
        'How'
  %tbody
    - @report.smart.each_with_index do |smart, n|
      - unless objective_blank? smart
        %tr
          %td.number
            %p
              %span.label= n +1
          %td
            %p= smart['what']
          %td
            %p= smart['how']
      - if [:mid_year, :end_year].include?(@approval_id)
        - mid_year = @report.mid_year_review_smart[n]
        - unless objective_blank? mid_year
          %tr
            %td
              %p Mid Year Review
            %td
              %p= mid_year['what']
            %td
              %p= mid_year['how']
      - if @approval_id == :end_year
        - end_year = @report.end_year_review_smart[n]
        - unless objective_blank? end_year
          %tr
            %td
              %pEnd Year Review
            %td
              %p= end_year['what']
            %td
              %p= end_year['how']


%h2 Development needs
%table
  %thead
    %tr
      %th Number
      %th Objective
  %tbody
    - @report.development.each_with_index do |development, n|
      - unless development.blank?
        %tr
          %td.number
            %p
              %span.label= n +1
          %td
            %p= development
      - if [:mid_year, :end_year].include?(@approval_id)
        - mid_year = @report.mid_year_review_development[n]
        - unless mid_year.blank?
          %tr
            %td
              %p Mid Year Review
            %td
              %p= mid_year
      - if @approval_id == :end_year
        - end_year = @report.end_year_review_development[n]
        - unless end_year.blank?
          %tr
            %td
              %p End Year Review
            %td
              %p= end_year
