%h1= @approval_id == :initial ? 'Approve objectives' : "Approve #{@approval_id.to_s.titleize} Review"

= form_for @approval_form, url: report_approval_path(@report, @approval_id), method: :put, html: {class: 'report-form'} do |f|
  %h2 SMART objectives
  %table
    %thead
      %tr
        %th Number
        %th
          'What'
        %th
          'How'
    %tbody
      - @report.smart.each_with_index do |smart, n|
        %tr
          %td.number= n + 1
          %td= smart['what']
          %td= smart['how']
        - if [:mid_year, :end_year].include?(@approval_id)
          %tr
            %td Mid Year Review
            %td= @report.mid_year_review_smart[n]['what']
            %td= @report.mid_year_review_smart[n]['how']
        - if @approval_id == :end_year
          %tr
            %td End Year Review
            %td= @report.end_year_review_smart[n]['what']
            %td= @report.end_year_review_smart[n]['how']


  %h2 Development needs
  %table
    %thead
      %tr
        %th Number
        %th Objective
    %tbody
      - @report.development.each_with_index do |development, n|
        %tr
          %td.number= n +1
          %td= development
        - if [:mid_year, :end_year].include?(@approval_id)
          %tr
            %td Mid Year Review
            %td= @report.mid_year_review_development[n]
        - if @approval_id == :end_year
          %tr
            %td End Year Review
            %td= @report.end_year_review_development[n]

  %h2 Comments
  = f.text_area :comment


  .form-group
    = f.submit 'Save', class: 'button'
