%h1= approval_heading

= form_for @approval_form, url: report_approval_path(@report, @approval_id), method: :put, html: {class: 'report-form'} do |f|
  - if @report.is_a?(Agreement)
    = render 'agreement'
  - else
    = render 'management_report'

  %h2 Comments
  = f.text_area :comment

  .form-group
    = f.submit 'Approve', class: 'button'
