%h1= approval_heading

%h2 Personal details
= render partial: 'profiles/profile', locals: { editable: false }

= form_for @approval_form, url: report_approval_path(@report, @approval_id), method: :put, html: {class: 'report-form'} do |f|
  - if @report.is_a?(Agreement)
    = render 'agreement'
  - else
    = render 'management_report'

  = render 'reviews/report_comments'

  - if @report.is_a?(ManagementReport) && @report.end_year_review_comment.present?
    = render partial: 'final_rating', locals: { f: f }

  %h2 Comments
  = f.text_area :comment

  .form-group
    = f.submit 'Approve', class: 'button'
