%table.plain
  %tr
    %td
      %p
        %span.label Name
        = current_user.name
      %p
        %span.label Staff number
        = current_user.staff_number
      - if current_user.manager
        %p
          %span.label Line manager
          = current_user.manager.to_s
    %td
      %p
        %span.label Grade
        = current_user.grade
      %p
        %span.label Organisation
        = current_user.organisation
      - if @report
        %p
          %span.label Period of report
          %span#review_period= @report.review_period

- if editable
  %p= link_to('Edit your profile', edit_profile_path)
