%h1 Performance Agreements

%h2 Your profile
%table.plain
  %tr
    %td
      %p
        %span.label Name
        = current_user.name
      %p
        %span.label Staff number
        = current_user.staff_number
      - if current_user.manager
        %p
          %span.label Line manager
          = current_user.manager.to_s
    %td
      %p
        %span.label Grade
        = current_user.grade
      %p
        %span.label Organisation
        = current_user.organisation

%p= link_to('Edit your profile', edit_profile_path)

%h2 Your performance agreements
- unless @agreements.empty?
  %table.reports
    %thead
      %tr
        %th Last saved on
        %th Manager approved on
        %th Action
    %tbody
      - @agreements.each do |agreement|
        %tr
          %td= agreement.updated_at.to_s(:long)
          %td= agreement.approved_at.to_s(:long)
          %td
            - unless agreement.end_year_approved?
              = link_to('Edit objectives', edit_agreement_path(agreement))

            - if agreement.approved?
              - if agreement.mid_year_approved?
                - if agreement.end_year_approved?
                  This agreement is closed
                - else
                  = link_to('Add end year review comments', edit_report_review_path(agreement, :end_year))
              - else
                = link_to('Add mid year review comments', edit_report_review_path(agreement, :mid_year))

%p
%p
  = link_to('Create new performance agreement', new_agreement_path)
