%h2 SMART objectives
%table
  %thead
    %tr
      %th Number
      %th
        'What'
      %th
        'How'
  %tbody
    - (1..ObjectivesForm::SMART_OBJECTIVES).each do |n|
      - what = @report.smart[n - 1]['what']
      - how = @report.smart[n - 1]['how']
      - unless what.blank? && how.blank?
        %tr
          %td.number= n
          %td= what
          %td= how
        - if @review_id == :end_year
          %tr
            %td Mid Year Review
            %td= @report.mid_year_review_smart[n - 1]['what']
            %td= @report.mid_year_review_smart[n - 1]['how']
        %tr
          %td= @title
          %td.what= f.text_area "smart_what_#{n}"
          %td.how= f.text_area "smart_how_#{n}"

%h2 Development needs
%table
  %thead
    %tr
      %th Number
      %th Objective
  %tbody
    - (1..ObjectivesForm::DEVELOPMENT_OBJECTIVES).each do |n|
      - development = @report.development[n - 1]
      - unless development.blank?
        %tr
          %td.number= n
          %td= development
        - if @review_id == :end_year
          %tr
            %td Mid Year Review
            %td= @report.mid_year_review_development[n - 1]
        %tr
          %td= @title
          %td= f.text_area "development_#{n}"