- if @report.approved_comment
  %h3 Initial approval comments
  %p= @report.approved_comment

- if @report.mid_year_review_comment
  %br
  %h3= review_comment_label('mid year')
  %p= @report.mid_year_review_comment

- if @report.mid_year_approved_comment
  %h3 Mid-year approval comments
  %p= @report.mid_year_approved_comment

- if @report.end_year_review_comment
  %br
  %h3= review_comment_label('end year')
  %p= @report.end_year_review_comment

- if @report.end_year_approved_comment
  %h3 End-year approval comments
  %p= @report.end_year_approved_comment
