- @title = "#{@review_id.to_s.titleize} Review"
%h1= @title

= form_for @review_form, url: report_review_path(@report, @review_id), method: :put, html: {class: 'report-form'} do |f|
  - if @report.is_a?(Agreement)
    = render 'approvals/agreement'
  - else
    = render partial: 'management_report', locals: { f: f }

  %h2= comment_heading
  = f.text_area :comment

  .form-group
    = f.submit 'Save', class: 'button'
