- if @employees_reports && !@employees_reports.empty?
  %h2 Your employees reports
  %table.employees-reports
    %thead
      %tr
        %th Name
        %th Initial approval
        %th Mid-year approval
        %th End-year approval
        %th Action
    %tbody
      - @employees_reports.each do |report|
        %tr
          %td= report.user.to_s
          %td
            - if report.approved?
              = display_date report.approved_at
            - else
              = "submitted on: #{display_date(report.updated_at)}"
          %td
            - if report.mid_year_approved?
              = display_date report.mid_year_approved_at
            - elsif report.approved? && report.mid_year_review_comment.blank?
              awaiting submission
          %td
            - if report.end_year_approved?
              = display_date report.end_year_approved_at
            - elsif report.mid_year_approved? && report.end_year_review_comment.blank?
              awaiting submission
          %td
            - if report.approved?
              - if report.mid_year_approved?
                - if report.end_year_approved?
                  This report is closed
                - else
                  - if report.end_year_review_comment.present?
                    = link_to('End-year approve', edit_report_approval_path(report, :end_year))
                  - else
                    Awaiting employee end-year review
              - else
                - if report.mid_year_review_comment.present?
                  = link_to('Mid-year approve', edit_report_approval_path(report, :mid_year))
                - else
                  Awaiting employee mid-year review
            - else
              = link_to('Approve', edit_report_approval_path(report, :initial))
