%h2 Performance against SMART objectives
%p (Specific, Measurable, Achievable, Realistic and Timed)
%p Refer to Civil Service Competency Framework and How To: Set SMART objectives.

%table
  %thead
    %tr
      %th Number
      %th
        'What'
        %span (to include: Business delivery; Finance/Efficiency; People/Capability)
      %th
        'How'
        %span (to include steps to take to achieve the ‘what’, including the skills, knowledge, behaviours, values and competencies required)
  %tbody
    - (1..ObjectivesForm::SMART_OBJECTIVES).each do |n|
      %tr
        %td.number= n
        %td.what= f.text_area "smart_what_#{n}"
        %td.how= f.text_area "smart_how_#{n}"

%h2 Development needs
%p Record any agreed development activity and timescales

%table
  %thead
    %tr
      %th Number
      %th Objective
  %tbody
    - (1..ObjectivesForm::DEVELOPMENT_OBJECTIVES).each do |n|
      %tr
        %td.number= n
        %td= f.text_area "development_#{n}"


.form-group
  = f.submit 'Save', class: 'button'
