- unless @reports.empty?
  %table.reports
    %thead
      %tr
        %th Last saved on
        %th Initial approval
        %th Mid year approval
        %th End year approval
        %th Action
    %tbody
      - @reports.each do |agreement|
        %tr
          %td= agreement.updated_at.to_s(:long)
          %td
            - if agreement.approved_at
              = display_date agreement.approved_at
            - else
              awaiting approval
          %td
            - if agreement.mid_year_approved_at
              = display_date agreement.mid_year_approved_at
            - else
              awaiting approval
          %td
            - if agreement.end_year_approved_at
              = display_date agreement.end_year_approved_at
            - else
              awaiting approval
          %td
            - unless agreement.end_year_approved?
              %p= link_to('Edit your objectives', edit_report_path(agreement))
            - if agreement.approved?
              - if agreement.mid_year_approved?
                - if agreement.end_year_approved?
                  This agreement is closed
                - else
                  %p= link_to('Add end year review comments', edit_report_review_path(agreement, :end_year))
              - else
                %p= link_to('Add mid year review comments', edit_report_review_path(agreement, :mid_year))