%h1 Performance Management Reports

- unless @reports.empty?
  %table.reports
    %thead
      %tr
        %th Number
        %th Action
    %tbody
      - @reports.each do |report|
        %tr
          %td= report.id
          %td
            = link_to('edit', edit_report_path(report))
            - if report.approved?
              - if report.mid_year_approved?
              - else
                = link_to('mid year review', edit_report_review_path(report, :mid_year))
                = link_to('mid year approve', mid_year_approve_report_path(report))
            - else
              = link_to('approve', approve_report_path(report))

= link_to('New', new_report_path)
